*{
    box-sizing: border-box;
}

.box1{
    width: 400px;
    height: 420px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-width: solid 5px rgb(17, 17, 17);
    background-color: darkslategrey;
    text-align: center;
    padding: 60px 30px;

    
}

.box input{
    width: 100%;
    margin-bottom: 20px;
}

.box input[type=text], .box input[type=text]{
    height: 30px;
    padding: 30px;

}